/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
* {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

div#bgvid {
  width: auto;
  height: auto; }
  div#bgvid video {
    height: auto;
    width: auto;
    min-height: 800px;
    min-width: 100%; }
  div#bgvid div.call-to-action-message {
    /* Positioning */
    position: absolute;
    /* Box-model */
    margin-top: -800px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    /* Typography */
    text-align: center;
    /* Visual */
    /* Misc */ }
    div#bgvid div.call-to-action-message h1 {
      /* Positioning */
      /* Box-model */
      /* Typography */
      text-align: center;
      /* Visual */
      color: #fff;
      /* Misc */ }
    div#bgvid div.call-to-action-message .button {
      /* Positioning */
      /* Box-model */
      /* Typography */
      text-align: center;
      /* Visual */
      /* Misc */ }

nav.top-navigation {
  height: 70px; }
  nav.top-navigation img {
    padding-top: 2px; }
  nav.top-navigation h5 {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 70px;
    margin: 0;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase; }
  nav.top-navigation ul {
    margin-bottom: 0; }
    nav.top-navigation ul li a {
      /* Positioning */
      /* Box-model */
      /* Typography */
      line-height: 70px;
      font-family: "proxima-nova", Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      /* Visual */
      color: #333;
      /* Misc */ }
      nav.top-navigation ul li a:hover {
        /* Positioning */
        /* Box-model */
        /* Typography */
        text-decoration: none;
        /* Visual */
        color: #2f79e7;
        /* Misc */ }

div.dws-page-header h2 {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: bold;
  text-transform: uppercase;
  /* Visual */
  /* Misc */ }
div.dws-page-header hr {
  border-color: #333;
  border-style: dotted; }
div.dws-page-header p {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: georgia, serif;
  font-size: 18px;
  /* Visual */
  /* Misc */ }

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/
div.about-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  margin-bottom: 20px;
  /* Typography */
  /* Visual */
  background-color: #0f4d6b;
  color: #fff;
  /* Misc */ }
  div.about-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 60px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.about-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.about-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    /* Visual */
    /* Misc */ }

div.about-card {
  /* Positioning */
  /* Box-model */
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.about-card div.card-image {
    /* Positioning */
    /* Box-model */
    width: 320px;
    /* Typography */
    /* Visual */
    /* Misc */ }
    div.about-card div.card-image img {
      vertical-align: bottom; }
  div.about-card div.card-overlay {
    /* Positioning */
    /* Box-model */
    width: 350px;
    height: 350px;
    position: absolute;
    margin-top: -350px;
    /* Typography */
    text-align: center;
    /* Visual */
    background-color: rgba(34, 34, 34, 0.8);
    color: #fff;
    /* Misc */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    div.about-card div.card-overlay:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      /* Visual */
      background-color: rgba(47, 121, 231, 0);
      /* Misc */ }
    div.about-card div.card-overlay h3 {
      /* Positioning */
      /* Box-model */
      padding-top: 130px;
      height: 350px;
      width: 100%;
      /* Typography */
      font-family: 'proxima-nova', Helvetica, Arial;
      font-weight: 800;
      text-transform: uppercase;
      /* Visual */
      font-size: 50px;
      /* Misc */
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      div.about-card div.card-overlay h3:hover {
        opacity: 0; }

div#dws_about_page_map {
  height: 720px; }

h2#the-worst {
  /* Positioning */
  /* Box-model */
  margin-bottom: 40px;
  /* Typography */
  font-size: 50px;
  font-weight: 300;
  /* Visual */
  /* Misc */ }

h3#fourc {
  /* Positioning */
  /* Box-model */
  margin-bottom: 30px;
  /* Typography */
  font-weight: 300;
  text-align: center;
  /* Visual */
  /* Misc */ }

/*****************************************************************************/
/*
/* Clients
/*
/*****************************************************************************/
div.clients-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  margin-bottom: 20px;
  /* Typography */
  /* Visual */
  background-color: #ef5e2e;
  color: #fff;
  /* Misc */ }
  div.clients-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 60px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.clients-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.clients-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    /* Visual */
    /* Misc */ }

div.client-strip {
  /* Positioning */
  /* Box-model */
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.client-strip:nth-child(even) {
    background-color: #F4F5F5; }
  div.client-strip img {
    height: 500px; }
  div.client-strip h4 {
    /* Positioning */
    /* Box-model */
    padding-top: 50px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */ }
  div.client-strip p {
    /* Positioning */
    /* Box-model */
    max-width: 500px;
    /* Typography */
    font-size: 14px;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Legacy
/*
/*****************************************************************************/
div.legacy-page {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 800px;
  /* Typography */
  font-family: "minion-pro", georgia, serif;
  /* Visual */
  /* Misc */ }
  div.legacy-page p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", georgia, serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }
  div.legacy-page li {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Team
/*
/*****************************************************************************/
div.team-page {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: "proxima-nova", Helvetica, sans-serif;
  /* Visual */
  /* Misc */ }
  div.team-page h3 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */ }
  div.team-page h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
div.footer {
  padding-top: 50px; }

/*****************************************************************************/
/*
/* Story Page
/*
/*****************************************************************************/
h1#story-headline {
  /* Positioning */
  /* Box-model */
  margin-top: 50px;
  margin-bottom: 50px;
  /* Typography */
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  /* Visual */
  /* Misc */ }

div.minimal-story-container {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 700px;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.minimal-story-container h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  div.minimal-story-container p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }
  div.minimal-story-container img {
    padding-top: 50px;
    padding-bottom: 50px; }

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/
div#dws_contact_page_map {
  height: 500px; }

/*****************************************************************************/
/*
/* Buttons
/*
/*****************************************************************************/
a {
  text-decoration: none; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .button:hover {
    text-decoration: none; }
  .button.disabled {
    background: linear-gradient(white, #f7f9fb) #f7f9fb;
    border: 1px solid #d4dce4;
    color: #333;
    cursor: not-allowed;
    filter: alpha(opacity=50);
    -khtml-opacity: .50;
    -moz-opacity: .50;
    opacity: .50; }
    .button.disabled:hover {
      color: #333; }

.btn-white {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background: linear-gradient(white, #f7f9fb) #f7f9fb;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */ }
  .btn-white:hover {
    color: #333; }
  .btn-white:active, .btn-white:focus {
    color: #333;
    outline: none !important; }

.btn-red {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #df4a37;
  border: 1px solid #d4dce4;
  color: #fff;
  /* Misc */ }
  .btn-red:hover {
    color: #fff; }
  .btn-red:active, .btn-red:focus {
    color: #fff;
    outline: none !important; }

.btn-purple {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #795aac;
  border: 1px solid #795aac;
  color: #fff;
  /* Misc */ }
  .btn-purple:hover {
    color: #fff; }
  .btn-purple:active, .btn-purple:focus {
    color: #fff;
    outline: none !important; }

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */ }
  .btn-green:hover {
    color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff;
    outline: none !important; }

.btn-blue {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #2f79e7;
  border-color: #285e8e;
  color: #fff;
  /* Misc */ }
  .btn-blue:hover {
    background-color: #3260c7;
    color: #fff; }
  .btn-blue:active, .btn-blue:focus {
    color: #fff;
    outline: none !important; }

.btn-yellow {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #ede06b;
  color: #111;
  /* Misc */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .btn-yellow:hover {
    background-color: #ffd479;
    color: #111; }
  .btn-yellow:active, .btn-yellow:focus {
    color: #111;
    outline: none !important; }

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border-color: #70b32d;
  color: #fff;
  /* Misc */
  z-index: 2; }
  .btn-green:hover {
    color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff;
    outline: none !important; }

.btn-1x {
  padding: 8px 30px;
  min-width: 143px; }

.btn-2x {
  padding: 16px 60px; }

.btn-square {
  height: 100px;
  width: 100px; }
