---
---

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

div.introduction-jumbotron {
  background-image: url('../img/jumbo.jpg');
  background-size: cover;
  background-position: center;

  height: 940px;
  text-align: center;
}

div.introduction-jumbotron nav.top-navigation ul li a {
  /* Positioning */
  /* Box-model */
  /* Typography */
  line-height: 120px;
  /* Visual */
  color: #fff;
  /* Misc */
}

nav.top-navigation ul li a {
  /* Positioning */
  /* Box-model */
  /* Typography */
  line-height: 120px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  /* Visual */
  color: #333;
  /* Misc */
  &:hover {
    /* Positioning */
    /* Box-model */
    /* Typography */
    text-decoration: none;
    /* Visual */
    color: #2f79e7;
    /* Misc */
  }
}

button.btn-circle {
  /* Positioning */
  /* Box-model */
  width: 200px;
  height: 200px;
  /* Typography */
  /* Visual */
  background-color: #df4a37;
  color: #fff;
  /* Misc */
  -webkit-transition: all 400ms ease-in-out;
     -moz-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;

  border-width: 0;
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
          border-radius: 200px;
  &:hover {
    background-color: #9a3326;
  }
  &:active {
    outline: 0;
  }
}

div.dws-page-header {
  h2 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: bold;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  hr {
    border-color: #333;
    border-style: dotted;
  }
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: georgia, serif;
    font-size: 18px;
    /* Visual */
    /* Misc */
  }
}

div.legacy-page {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 800px;
  /* Typography */
  font-family: "minion-pro", georgia, serif;
  /* Visual */
  /* Misc */
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", georgia, serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
  li {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
}

div.team-page {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: "proxima-nova", Helvetica, sans-serif;
  /* Visual */
  /* Misc */
  h3 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */
  }
  h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
}

div.story-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/story.png');
  background-repeat: no-repeat;
  background-position: center;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.team-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.legacy-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/sustain.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;

    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.clients-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/clients.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;

    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.printing-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/printing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;

    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.design-block {
  /* Positioning */
  /* Box-model */
  height: 350px;
  /* Typography */
  line-height: 350px;
  /* Visual */
  background-image: url('../img/about/design.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  /* Misc */
  div.blue-overlay {
    width: 350px;
    height: 350px;
    background-color: rgba(47,121,231, .65);
    z-index: -51;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;

    &:hover {
      background-color: rgba(47,121,231, 0);
    }
  }
  h5 {
    color: #fff;
    text-align: center;
    z-index: 10;
    margin-top: -220px;
    font-family: "proxima-nova", Helvetica, arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div.footer {
  padding-top: 100px;
}

h1#story-headline {
  /* Positioning */
  /* Box-model */
  margin-top: 50px;
  margin-bottom: 50px;
  /* Typography */
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  /* Visual */
  /* Misc */
}

div.minimal-story-container {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 700px;
  /* Typography */
  /* Visual */
  /* Misc */
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
  img {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.grid {
  overflow: hidden;
  margin: 0;
  padding: 3em 0 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 33.333%;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;

  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

// contact map

div#dws_contact_page_map {
  height: 500px;
}