/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
* {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif; }

div#bgvid {
  width: auto;
  height: auto; }
  div#bgvid video {
    height: auto;
    width: auto;
    min-height: 800px;
    min-width: 100%; }
  div#bgvid div.call-to-action-message {
    /* Positioning */
    position: absolute;
    top: 5%;
    /* Box-model */
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    /* Typography */
    text-align: center;
    /* Visual */
    color: #fff;
    /* Misc */ }
    div#bgvid div.call-to-action-message h2 {
      /* Positioning */
      /* Box-model */
      margin-top: 0;
      padding-top: 200px;
      /* Typography */
      text-align: center;
      font-size: 62px;
      line-height: 55px;
      font-weight: 600;
      text-transform: uppercase;
      /* Visual */
      /* Misc */ }

nav.top-navigation {
  height: 70px; }
  nav.top-navigation img {
    padding-top: 2px; }
  nav.top-navigation h5 {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 70px;
    margin: 0;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase; }
  nav.top-navigation ul {
    margin-bottom: 0; }
    nav.top-navigation ul li a {
      /* Positioning */
      /* Box-model */
      /* Typography */
      line-height: 70px;
      font-family: "proxima-nova", 'Helvetica Neue' , Arial, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      /* Visual */
      color: #808080;
      /* Misc */
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      nav.top-navigation ul li a:hover {
        /* Positioning */
        /* Box-model */
        /* Typography */
        text-decoration: none;
        /* Visual */
        color: #2f79e7;
        /* Misc */ }

div.dws-page-header h2 {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: bold;
  text-transform: uppercase;
  /* Visual */
  /* Misc */ }
div.dws-page-header hr {
  border-color: #333;
  border-style: dotted; }
div.dws-page-header p {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: georgia, serif;
  font-size: 18px;
  /* Visual */
  /* Misc */ }

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/
div.about-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #f2f3f5;
  color: #333;
  /* Misc */ }
  div.about-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.about-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.about-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */ }

div.story-strip {
  /* Positioning */
  padding: 0;
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */ }

div.story-content {
  max-width: 850px;
  margin: 0 auto; }
  @media screen and (max-width: 841px) {
    div.story-content {
      padding-left: 25px;
      padding-right: 25px; } }
  div.story-content h3 {
    /* Positioning */
    /* Box-model */
    padding-top: 50px;
    padding-bottom: 50px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.story-content p {
    /* Positioning */
    /* Box-model */
    margin-bottom: 25px;
    /* Typography */
    font-family: 'kepler-std', serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 36px;
    /* Visual */
    /* Misc */ }

div.legacy-content {
  max-width: 80%;
  padding-top: 20px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    div.legacy-content {
      width: 100%; } }
  div.legacy-content div.col-md-6 {
    padding: 0; }
  div.legacy-content h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.legacy-content p {
    /* Positioning */
    /* Box-model */
    margin-bottom: 25px;
    /* Typography */
    font-family: 'kepler-std', serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 36px;
    /* Visual */
    /* Misc */ }

div.team-strip {
  /* Positioning */
  /* Box-model */
  height: 720px;
  /* Typography */
  /* Visual */
  background-color: #000;
  background-image: url(/img/about/team-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* Misc */ }
  div.team-strip h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 200px;
    /* Typography */
    text-align: center;
    font-size: 62px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

div.legacy-strip {
  /* Positioning */
  /* Box-model */
  min-height: 650px;
  width: 50%;
  /* Typography */
  /* Visual */
  background-image: url(/img/about/legacy-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Misc */ }
  @media screen and (max-width: 1024px) {
    div.legacy-strip {
      width: 100%; } }

div.countdown-timer {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-color: #2f79e7;
  color: #333;
  /* Misc */ }
  div.countdown-timer h3 {
    /* Positioning */
    /* Box-model */
    margin: 60px 0 60px 0;
    /* Typography */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    /* Visual */
    color: #fff;
    /* Misc */ }
    div.countdown-timer h3 span {
      color: #000; }

div.weare {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-color: #2f79e7;
  color: #333;
  text-align: center;
  /* Misc */ }
  div.weare h3 {
    /* Positioning */
    /* Box-model */
    margin: 0;
    padding: 60px 0 60px 0;
    /* Typography */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    /* Visual */
    color: #fff;
    /* Misc */ }
    div.weare h3 span {
      color: #000; }

div.reach-header {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-color: #2f79e7;
  color: #333;
  text-align: center;
  /* Misc */ }
  div.reach-header h3 {
    /* Positioning */
    /* Box-model */
    margin: 0;
    padding: 60px 0 60px 0;
    /* Typography */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    /* Visual */
    color: #fff;
    /* Misc */ }
    div.reach-header h3 span {
      color: #000; }

div#dws_about_page_map {
  height: 720px; }

div.about-page-sub-header {
  text-align: center; }
  div.about-page-sub-header h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 40px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */ }
  div.about-page-sub-header h3 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 30px;
    /* Typography */
    font-weight: 300;
    text-align: center;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Clients
/*
/*****************************************************************************/
div.clients-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #f2f3f5;
  color: #333;
  /* Misc */ }
  div.clients-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.clients-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.clients-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */ }

img.big {
  /* Positioning */
  /* Box-model */
  width: 100%;
  /* Typography */
  /* Visual */
  /* Misc */ }

div.bb-strip {
  /* Positioning */
  /* Box-model */
  padding-top: 0px;
  padding-bottom: 0 !important;
  /* Typography */
  /* Visual */
  background-color: #fff;
  /* Misc */ }
  div.bb-strip div.centerable-row {
    /* Positioning */
    /* Box-model */
    margin: 0 auto;
    /* Typography */
    /* Visual */
    /* Misc */ }
  div.bb-strip h2 {
    /* Positioning */
    /* Box-model */
    padding-bottom: 50px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */ }
  div.bb-strip div.copy {
    max-width: 500px;
    margin: 0 auto; }

div.runa-strip {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-color: #fff;
  /* Misc */ }
  div.runa-strip div.copy {
    max-width: 500px; }

div.client-strip {
  /* Positioning */
  /* Box-model */
  padding-bottom: 100px;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.client-strip hr {
    max-width: 85%; }
  div.client-strip div.copy {
    max-width: 500px; }
  div.client-strip img.resized {
    height: 500px; }
  div.client-strip h4 {
    /* Positioning */
    /* Box-model */
    padding-top: 50px;
    padding-bottom: 15px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.client-strip p {
    /* Positioning */
    /* Box-model */
    margin-bottom: 25px;
    /* Typography */
    font-family: 'kepler-std', serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5;
    /* Visual */
    /* Misc */ }
  div.client-strip p.spec {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    /* Visual */
    /* Misc */ }
  div.client-strip p.pull-quote {
    /* Positioning */
    /* Box-model */
    max-width: 90%;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    /* Typography */
    font-family: 'proxima-nova', serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.4;
    /* Visual */
    border-bottom: 3px solid #bbb;
    /* Misc */ }
  div.client-strip h5 {
    /* Positioning */
    /* Box-model */
    margin-top: 35px;
    /* Typography */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    /* Visual */
    /* Misc */ }
  div.client-strip blockquote {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 14px;
    /* Visual */
    /* Misc */ }

ul.details-list li {
  /* Positioning */
  /* Box-model */
  padding: 10px;
  margin-bottom: 5px;
  /* Typography */
  /* Visual */
  background-color: #eee;
  /* Misc */ }

p.pull-quote-long {
  /* Positioning */
  /* Box-model */
  max-width: 500px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 25px;
  /* Typography */
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4;
  /* Visual */
  /* Misc */ }

/*****************************************************************************/
/*
/* Legacy
/*
/*****************************************************************************/
div.legacy-page {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 800px;
  /* Typography */
  font-family: "minion-pro", georgia, serif;
  /* Visual */
  /* Misc */ }
  div.legacy-page p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", georgia, serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }
  div.legacy-page li {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Team
/*
/*****************************************************************************/
div.team-page {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: "proxima-nova", Helvetica, sans-serif;
  /* Visual */
  /* Misc */ }
  div.team-page h3 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */ }
  div.team-page h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
div.footer {
  padding-top: 50px; }

/*****************************************************************************/
/*
/* Story Page
/*
/*****************************************************************************/
h1#story-headline {
  /* Positioning */
  /* Box-model */
  margin-top: 50px;
  margin-bottom: 50px;
  /* Typography */
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  /* Visual */
  /* Misc */ }

div.minimal-story-container {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 700px;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.minimal-story-container h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  div.minimal-story-container p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */ }
  div.minimal-story-container img {
    padding-top: 50px;
    padding-bottom: 50px; }

/*****************************************************************************/
/*
/* Printing
/*
/*****************************************************************************/
div.printing-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #f2f3f5;
  color: #333;
  /* Misc */ }
  div.printing-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.printing-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.printing-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */ }

div.printing-strip {
  /* Positioning */
  /* Box-model */
  height: 720px;
  /* Typography */
  /* Visual */
  background-color: #000;
  background-image: url(/img/printing/printing-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* Misc */ }
  div.printing-strip h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 200px;
    /* Typography */
    text-align: center;
    font-size: 62px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

div.flexo-strip {
  /* Positioning */
  /* Box-model */
  height: 720px;
  /* Typography */
  /* Visual */
  background-color: #000;
  background-image: url(/img/printing/flexo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* Misc */ }
  div.flexo-strip h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 200px;
    /* Typography */
    text-align: center;
    font-size: 62px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

div.big-big-strip {
  /* Positioning */
  /* Box-model */
  height: 720px;
  /* Typography */
  /* Visual */
  background-color: #000;
  background-image: url(/img/printing/big-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* Misc */ }
  div.big-big-strip h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 200px;
    /* Typography */
    text-align: center;
    font-size: 62px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Design
/*
/*****************************************************************************/
div.design-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #f2f3f5;
  color: #333;
  /* Misc */ }
  div.design-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.design-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.design-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */ }

div.owen-content {
  /* Positioning */
  /* Box-model */
  max-width: 80%;
  margin: 0 auto;
  /* Typography */
  /* Visual */
  /* Misc */ }
  div.owen-content h3 {
    /* Positioning */
    /* Box-model */
    padding-top: 25px;
    padding-bottom: 25px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.owen-content p {
    /* Positioning */
    /* Box-model */
    margin-bottom: 35px;
    /* Typography */
    font-family: 'kepler-std', serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    /* Visual */
    /* Misc */ }

/* General grid styles */
.cbp-ig-grid {
  list-style: none;
  padding: 15px 0 15px 0;
  margin: 0; }

/* Clear floats */
.cbp-ig-grid:before,
.cbp-ig-grid:after {
  content: " ";
  display: table; }

.cbp-ig-grid:after {
  clear: both; }

/* grid item */
.cbp-ig-grid li {
  width: 50%;
  float: left;
  height: 420px;
  text-align: center; }

li#rasta {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-image: url(/img/design/label-rasta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* Misc */ }

li#melon {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-image: url(/img/design/label-melon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Misc */ }

li#stag {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-image: url(/img/design/label-stag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Misc */ }

li#old {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-image: url(/img/design/label-old.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Misc */ }

div.design-images {
  /* Positioning */
  /* Box-model */
  height: 900px;
  /* Typography */
  /* Visual */
  background-image: url(/img/design/label-all.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* Misc */ }
  div.design-images h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    padding-top: 200px;
    /* Typography */
    text-align: center;
    font-size: 62px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/
div.contact-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #f2f3f5;
  color: #333;
  /* Misc */ }
  div.contact-page-header h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */ }
  div.contact-page-header h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */ }
  div.contact-page-header p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */ }

div#dws_contact_page_map {
  height: 500px; }

div.contact-strip {
  /* Positioning */
  /* Box-model */
  padding-top: 25px;
  max-width: 280px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  /* Typography */
  text-align: center;
  /* Visual */
  background-color: #f2f2f2;
  /* Misc */ }
  div.contact-strip h3 {
    /* Positioning */
    /* Box-model */
    padding-top: 25px;
    padding-bottom: 25px;
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* Visual */
    /* Misc */ }
  div.contact-strip h4 {
    /* Positioning */
    /* Box-model */
    padding-top: 25px;
    /* Typography */
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    /* Visual */
    /* Misc */ }
  div.contact-strip h5 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 100;
    font-size: 25px;
    color: #777;
    /* Visual */
    /* Misc */ }
  div.contact-strip h6 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 100;
    font-size: 25px;
    /* Visual */
    color: #666;
    /* Misc */ }

div.contact-long-strip {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */ }

/*****************************************************************************/
/*
/* Buttons
/*
/*****************************************************************************/
a {
  text-decoration: none; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .button:hover {
    text-decoration: none; }
  .button.disabled {
    background: linear-gradient(white, #f7f9fb) #f7f9fb;
    border: 1px solid #d4dce4;
    color: #333;
    cursor: not-allowed;
    filter: alpha(opacity=50);
    -khtml-opacity: .50;
    -moz-opacity: .50;
    opacity: .50; }
    .button.disabled:hover {
      color: #333; }

.btn-white {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background: linear-gradient(white, #f7f9fb) #f7f9fb;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */ }
  .btn-white:hover {
    color: #333; }
  .btn-white:active, .btn-white:focus {
    color: #333;
    outline: none !important; }

.btn-red {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #df4a37;
  border: 1px solid #d4dce4;
  color: #fff;
  /* Misc */ }
  .btn-red:hover {
    color: #fff; }
  .btn-red:active, .btn-red:focus {
    color: #fff;
    outline: none !important; }

.btn-purple {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #795aac;
  border: 1px solid #795aac;
  color: #fff;
  /* Misc */ }
  .btn-purple:hover {
    color: #fff; }
  .btn-purple:active, .btn-purple:focus {
    color: #fff;
    outline: none !important; }

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */ }
  .btn-green:hover {
    color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff;
    outline: none !important; }

.btn-blue {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #2f79e7;
  border-color: #285e8e;
  color: #fff;
  /* Misc */ }
  .btn-blue:hover {
    background-color: #3260c7;
    color: #fff; }
  .btn-blue:active, .btn-blue:focus {
    color: #fff;
    outline: none !important; }

.btn-yellow {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #ede06b;
  color: #111;
  /* Misc */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .btn-yellow:hover {
    background-color: #ffd479;
    color: #111; }
  .btn-yellow:active, .btn-yellow:focus {
    color: #111;
    outline: none !important; }

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border-color: #70b32d;
  color: #fff;
  /* Misc */
  z-index: 2; }
  .btn-green:hover {
    color: #fff; }
  .btn-green:active, .btn-green:focus {
    color: #fff;
    outline: none !important; }

.btn-1x {
  padding: 8px 30px;
  min-width: 143px; }

.btn-2x {
  padding: 16px 60px; }

.btn-square {
  height: 100px;
  width: 100px; }

.btn-transparent {
  /* Positioning */
  /* Box-model */
  border: 3px solid #fff;
  /* Typography */
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  /* Visual */
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  /* Misc */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .btn-transparent:hover {
    /* Positioning */
    /* Box-model */
    /* Typography */
    background-color: white;
    color: #333;
    /* Visual */
    /* Misc */ }

.icon-1x {
  font-size: 10px; }

.icon-2x {
  font-size: 20px; }

.icon-3x {
  font-size: 30px; }

.icon-4x {
  font-size: 40px; }

.icon-5x {
  font-size: 50px; }

.icon-6x {
  font-size: 60px; }

.icon-7x {
  font-size: 70px; }
