---
---

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
 * {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
 }


div#bgvid {
  width: auto;
  height: auto;
  video {
    height: auto;
    width: auto;
    min-height: 800px;
    min-width: 100%;
  }
  div.call-to-action-message {
    /* Positioning */
    position: absolute;
    /* Box-model */
    margin-top: -800px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    /* Typography */
    text-align: center;
    /* Visual */
    /* Misc */
    h1 {
      /* Positioning */
      /* Box-model */
      /* Typography */
      text-align: center;
      /* Visual */
      color: #fff;
      /* Misc */
    }
    .button {
      /* Positioning */
      /* Box-model */
      /* Typography */
      text-align: center;
      /* Visual */
      /* Misc */
    }
  }
}

nav.top-navigation {
  height: 70px;
  img {
    padding-top: 2px;
  }
  h5 {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 70px;
    margin: 0;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  ul {
    margin-bottom: 0;
    li {
      a {
        /* Positioning */
        /* Box-model */
        /* Typography */
        line-height: 70px;
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        /* Visual */
        color: #333;
        /* Misc */
        &:hover {
          /* Positioning */
          /* Box-model */
          /* Typography */
          text-decoration: none;
          /* Visual */
          color: #2f79e7;
          /* Misc */
        }
      }
    }
  }
}


div.dws-page-header {
  h2 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: bold;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  hr {
    border-color: #333;
    border-style: dotted;
  }
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: georgia, serif;
    font-size: 18px;
    /* Visual */
    /* Misc */
  }
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

div.about-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  margin-bottom: 50px;
  /* Typography */
  /* Visual */
  background-color: #2f79e7;
  color: #fff;
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */
  }
}

div.countdown-timer {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
  h1 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 150px;
    font-weight: 100;
    font-family: "proxima-nova-condensed",sans-serif;
    /* Visual */
    /* Misc */
  }
  h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    /* Visual */
    /* Misc */
  }
}

div#dws_about_page_map {
  height: 720px;
}

div.about-page-sub-header {
  text-align: center;
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 40px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 30px;
    /* Typography */
    font-weight: 300;
    text-align: center;
    /* Visual */
    /* Misc */
  }
}

/*****************************************************************************/
/*
/* Clients
/*
/*****************************************************************************/



div.clients-page-header {
  /* Positioning */
  /* Box-model */
  padding-bottom: 35px;
  /* Typography */
  /* Visual */
  background-color: #EA8D4F;
  color: #fff;
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    /* Typography */
    font-size: 50px;
    font-weight: 100;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    margin-bottom: 25px;
    /* Typography */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    margin-top: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* Typography */
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    /* Visual */
    /* Misc */
  }

}

div.bb-strip {
  /* Positioning */
  /* Box-model */
  padding-top: 0px;
  padding-bottom: 0 !important;
  /* Typography */
  /* Visual */
  background-color: #fff;
  /* Misc */
  div.centerable-row {
    /* Positioning */
    /* Box-model */
    margin: 0 auto;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  img.big {
    /* Positioning */
    /* Box-model */
    width: 100%;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  h2 {
    /* Positioning */
    /* Box-model */
    padding-bottom: 50px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */
  }
  div.copy {
    max-width: 500px;
    margin: 0 auto;
  }
}

div.runa-strip {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  background-color: #fff;
  /* Misc */
  div.copy {
    max-width: 500px;
  }
}

div.client-strip {
  /* Positioning */
  /* Box-model */
  padding-top: 25px;
  padding-bottom: 100px;
  /* Typography */
  /* Visual */
  /* Misc */
  hr {
    max-width: 85%;
  }
  div.copy {
    max-width: 500px;
  }
  img.resized {
    height: 500px;
  }
  h4 {
    /* Positioning */
    /* Box-model */
    padding-top: 50px;
    /* Typography */
    font-size: 50px;
    font-weight: 300;
    /* Visual */
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    margin: 0 auto;
    /* Typography */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    /* Visual */
    /* Misc */
  }
  p.spec {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    /* Visual */
    /* Misc */
  }
  p.pull-quote {
    /* Positioning */
    /* Box-model */
    max-width: 280px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    /* Typography */
    font-size: 30px;
    font-weight: 100;
    line-height: 1.4;
    /* Visual */
    border-bottom: 3px solid #bbb;
    /* Misc */
  }
  h5 {
    /* Positioning */
    /* Box-model */
    margin-top: 35px;
    /* Typography */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    /* Visual */
    /* Misc */
  }
  blockquote {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 14px;
    /* Visual */
    /* Misc */
  }
}

  p.pull-quote-long {
    /* Positioning */
    /* Box-model */
    max-width: 500px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    /* Typography */
    font-size: 30px;
    font-weight: 100;
    line-height: 1.4;
    /* Visual */
    /* Misc */
  }

/*****************************************************************************/
/*
/* Legacy
/*
/*****************************************************************************/

div.legacy-page {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 800px;
  /* Typography */
  font-family: "minion-pro", georgia, serif;
  /* Visual */
  /* Misc */
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", georgia, serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
  li {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
}

/*****************************************************************************/
/*
/* Team
/*
/*****************************************************************************/

div.team-page {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-family: "proxima-nova", Helvetica, sans-serif;
  /* Visual */
  /* Misc */
  h3 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */
  }
  h4 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    /* Visual */
    /* Misc */
  }
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

div.footer {
  padding-top: 50px;
}


/*****************************************************************************/
/*
/* Story Page
/*
/*****************************************************************************/

h1#story-headline {
  /* Positioning */
  /* Box-model */
  margin-top: 50px;
  margin-bottom: 50px;
  /* Typography */
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  /* Visual */
  /* Misc */
}

div.minimal-story-container {
  /* Positioning */
  /* Box-model */
  margin: 0 auto;
  max-width: 700px;
  /* Typography */
  /* Visual */
  /* Misc */
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-family: "minion-pro", serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
  img {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/

div#dws_contact_page_map {
  height: 500px;
}

/*****************************************************************************/
/*
/* Buttons
/*
/*****************************************************************************/

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
  }
  &.disabled {
    background: linear-gradient(#fff, #f7f9fb) #f7f9fb;
    border: 1px solid #d4dce4;
    color: #333;
    cursor: not-allowed;
    filter: alpha(opacity=50);
         -khtml-opacity: .50;
           -moz-opacity: .50;
                opacity: .50;
    &:hover {
      color: #333;
    }
  }
}

.btn-white {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background: linear-gradient(#fff, #f7f9fb) #f7f9fb;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */
  &:hover {
    color: #333;
  }
  &:active, &:focus {
    color: #333;
    outline: none !important;
  }
}

.btn-red {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #df4a37;
  border: 1px solid #d4dce4;
  color: #fff;
  /* Misc */
  &:hover {
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
    outline: none !important;
  }
}

.btn-purple {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #795aac;
  border: 1px solid #795aac;
  color: #fff;
  /* Misc */
  &:hover {
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
    outline: none !important;
  }
}

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border: 1px solid #d4dce4;
  color: #333;
  /* Misc */
  &:hover {
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
    outline: none !important;
  }
}

.btn-blue {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #2f79e7;
  border-color: #285e8e;
  color: #fff;
  /* Misc */
  &:hover {
    background-color: #3260c7;
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
    outline: none !important;
  }
}

.btn-yellow {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-size: 12px;
  font-weight: 500;
  /* Visual */
  background-color: #ede06b;
  color: #111;
  /* Misc */
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  &:hover {
    background-color: #ffd479;
    color: #111;
  }
  &:active, &:focus {
    color: #111;
    outline: none !important;
  }
}

.btn-green {
  /* Positioning */
  /* Box-model */
  /* Typography */
  font-weight: 500;
  /* Visual */
  background-color: #70b32d;
  border-color: #70b32d;
  color: #fff;
  /* Misc */
  z-index: 2;
  &:hover {
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
    outline: none !important;
  }
}

.btn-1x {
  padding: 8px 30px;
  min-width: 143px;
}

.btn-2x {
  padding: 16px 60px;
}

.btn-square {
  height: 100px;
  width: 100px;
}