<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css">
        <script type="text/javascript" src="//use.typekit.net/iqk0rnn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/fitvid.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/countdown.js"></script>
        <!-- Google Maps -->
        <script src="js/about_map.js"></script>
        <script src="js/google_maps.js"></script>
        <script src="js/main.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57995063-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
      <div class="dws-website">
        <nav class="navbar navbar-default top-navigation navbar-fixed-top dws-nav" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">
                <img src="img/logo-mini-new.png" class="img-responsive">
                <!-- <h5 class="text-center">Est. 1865</h5> -->
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right dws-ul-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="printing.html">Printing</a></li>
                <li><a href="design.html">Design</a></li>
                <li><a href="http://dwsprinting.tumblr.com/" target="_blank">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

          {{ content }}

          <div class="footer container hidden-print text-center">
            <hr>
            <br>
            <div class="row text-left">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <h5>DWS Printing Associates, Inc.</h5>
                <h5>Label + Packaging Specialists</h5>
                <br>
                <address class="">
                  <h5>89 North Industry Court</h5>
                  <h5>Deer Park, NY 11729</h5>
                </address>
                <h5>631-667-6666</h5>
                <h5>hello@dwsprinting.com</h5>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <ul class="list-unstyled text-left">
                  <dt>Website</dt>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="clients.html">Clients</a></li>
                  <li><a href="printing.html">Printing</a></li>
                  <li><a href="design.html">Design</a></li>
                  <li><a href="http://dwsprinting.tumblr.com/" target="_blank">Blog</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <ul class="list-unstyled">
                  <dt>Forms</dt>
                  <!-- <li><a href="#" target="_blank">DWS FTP Form</a></li> -->
                  <li><a href="pdf/dws-sustainability-report.pdf" target="_blank">DWS Sustainability Reports</a></li>
                  <li><a href="pdf/dws_fille_spec.pdf" target="_blank">Digital File Specifications</a></li>
                  <li><a href="pdf/dws_flexo.pdf" target="_blank">Flexo Chart Guide</a></li>
                  <li><a href="pdf/dws_client_information.pdf" target="_blank">Client Information Form</a></li>
                  <li><a href="pdf/nys_resale.pdf" target="_blank">NYS Resale Certificate</a></li>
                  <li><a href="pdf/dws_star_program.pdf" target="_blank">S.T.A.R. Instructions</a></li>
                  <li><a href="http://www.dws-star.com/webnative/listdir" target="_blank">S.T.A.R. Client Login</a></li>
                  <li><a href="pdf/new-client-form.pdf" target="_blank">DWS New Client Forms Summary</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-xs-12">
                <h4>Keep up with us</h4>
                <div id="mc_embed_signup">
                <form action="//dwsprinting.us9.list-manage.com/subscribe/post?u=2fcd5b78e955b51d1d155990c&amp;id=d484b26844" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your Email Address">
                </div>
                  <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2fcd5b78e955b51d1d155990c_d484b26844" tabindex="-1" value=""></div>
                    <div class=""><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-block"></div>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </div>
        <script>
          $(document).ready(function(){
            // Target your .container, .wrapper, .post, etc.
            $("#test").fitVids();
          });
        </script>
    </body>
</html>
