<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">

    </head>
    <body>

        <div class="container">
          {{ content }}

          <div class="footer text-center">
            <p>&copy; 2014 DWS Printing</p>
            <ul class="list-unstyled list-inline">
              <li>Home</li>
              <li>About</li>
              <li>Printing</li>
              <li>Design</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
    </body>
</html>
